maptools/__pycache__/*
maptools/calcusim/__pycache__/*
maptools/toksim/__pycache__/*
maptools/hardware/__pycache__/*
network/scripts/__pycache__/*
behavior_model/*
onnx_models/*
mapsave/*
inference/*
build/*
make.sh
